%header.page-header.inner
  %h1 Activate your account

.article-container.group
  %article.group{:role => "article"}
    .inner
      %p Thank you. Your account has now been activated.

      %p
        Please
        = link_to 'sign in', users_new_session_path