Who should receive correspondence?

%p This LPA is being registered by 
= form_for @lpa, :url => wizard_path, :html => {:class => "form"} do |lpa_form|
  %p Donor or attorney's address (based on previous step's answer)
  %p
    = lpa_form.submit "Save and continue", :class => "button gotonextpart"

