Additional information

= form_for @lpa, :url => wizard_path, :html => {:class => "form"} do |lpa_form|
  %p <input type="checkbox" />Tell us about another power of attorney
  %p <textarea></textarea>
  %p <input type="checkbox" />Tell us about a change of address or other important information
  %p <textarea></textarea>
  %p
    = lpa_form.submit "Save and continue", :class => "button gotonextpart"

