// ===========================================================
// PERSON FORM POP-UP
// ===========================================================

// Person form popup
#popup.form-popup {
  width: 38em;

  .inner {
    max-width: none;
    padding: 0;
  }

  .header {
    border-color: #bfc1c3;
    @if $is-ie == false {
      background: image-url("icon/person.png") 18px center no-repeat;
      background-size: 2.5%;
      padding-left: 2.5em;
    }
  }

  .form {
    @include form-horizontal;
    padding-left: 1em;

    fieldset {
      legend {
        display: none;
      }
    }

    input[type="text"],
    input[type="email"] {
      width: 15em;

      &.postcode {
        width: 5em;
      }
    }

    .action {
      .button-secondary {
        margin-left: 4.5em;
      }
    }


    // TO CHECK //
    .option.group{
      padding-right: 2em;
    }

    label.checkbox {
      width:auto;
    }

    // Large confirmation errors
    .option.group.confirmation-alert {
      border: 3px solid #DF3034;
      box-sizing: border-box;
      padding: 1em;
      margin: 1em 1em 0.5em 0em;
      background-color: #FEF7F7;
      label{
        width: auto;
        display: inline;
        padding: 0;
      }
    }

    .address-type-toggle {
      margin-left: 10.3em;
    }
  }
}

.address-hidden {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: -99999px;
}

// ===========================================================
// PERSON FORM
// ===========================================================

.person-form {
  input[type="checkbox"],
  input[type="radio"] {
    margin-right: 1em;
  }
}


.form {
  // Select a person for a role
  .role-select {
    overflow: auto;
    border-bottom: 1px solid $border-colour;
    margin: 0;
    padding: 1em 0 1em 1.25em;
    background: $highlight-colour;

    #popup & {
      margin-left: -1em;
    }
    a {
      @include core-16;
    }
    select {
      min-width: 11.5em;
    }
  }
  // toggle an address type
  .address-type-toggle {
    @include core-16;
    padding: 0;
    margin: 0;
    overflow: hidden;
    list-style: none;
    li {
      float: left;
      line-height: 1em;
      padding: 0 0 0 0.5em;
      margin: 0 0 0 0.5em;
      border-left: 1px solid $border-colour;
      &:first-child {
        border-left: 0;
        margin-left: 0;
        padding-left: 0;
      }
    }
  }
}


// ===========================================================
// LEGACY CODE
// ===========================================================

// Make hints the same width as text fields
#popup.form-popup .hint{
  width: 19em;
}

// Certificate provider
#prof-skills,
#knows-well{
  width: 400px;
}