// GLOBAL NAVIGATION

$gutter:            30px;
$gutter-one-sixth:  $gutter/6; // equivalent to 5px
$gutter-one-third:  $gutter/3; // equivalent to 10px
$alpha-colour: $pink;
$beta-colour: $orange;

@mixin global-nav($active-colour: $black, $highlight-colour: $black){
  #global-nav {
    margin: 0;
    border-bottom: 1px solid $highlight-colour;
    position: relative;
    z-index: 60;

    @include media(tablet){
      margin: 0;
    }

    @include media(desktop){
      text-align: right;
      margin: 0 auto;
    }

    .inner {
      max-width: none;
      @extend %contain-floats;
    }

    a,
    .toggler {

    }

    .home a {
      display: block;
      float: left;
      padding-left: 0;
    }
    .jump-link {
      float: right;

      @include media(desktop){
        position: absolute;
        left: -99999em;
      }
    }
    .toggler {
      cursor: pointer;

      &:focus {
        outline: none;
      }
      &:after {
        display: inline-block;
        font-size: 8px;
        height: 8px;
        padding-left: 5px;
        vertical-align: middle;
        content: " \25BC";
      }
    }
    &.open {
      .toggler {
        &:after {
          content: " \25B2";
        }
      }
    }
    nav {
      clear: both;
      padding: 10px 0;

      @include media(desktop){
        padding: 12px 0;
        clear: none;
      }

      #navigation{
        margin: 0;
        padding: 0;
      }

      .current {
        color: $white;
        background: $active-colour;
      }
      a {
        color: $black;
        text-decoration: underline;
        &:hover,
        &:focus {
          text-decoration: none;
        }
      }
      li {
        display: block;
        position: relative;
        vertical-align: middle;
        padding: 4px 0;

        @include media(desktop){
          display: inline;
          margin-left: 1em;
        }
        .toggler {
          position: absolute;
          left: -9999em;
          &:focus {
            text-decoration: none;
          }

          @include media(desktop){
            position: relative;
            left: auto;
            z-index: 10;
          }
        }
      }
    }
    &.open {
      .toggler {
        background: $highlight-colour;
      }
      .toggler.current {
        background: $active-colour;
      }
    }
  }
}