// =======================================================
// POPUPS


@mixin popup($width: 70%, $height: 26em){
  width: $width;
  margin: 2em auto 20em auto;
  background-color: white;
  //min-height: $height;
  position: relative;
  overflow: hidden;
  padding: 0;
  border: 0.5em solid #222;


  // 'X' Close button
  .close{
    top: 0.5em;
    right: 0.5em;
    z-index: 2;
  }

  // Popup header
  .header{
    padding: 1em 0 0.8em 2em;
    margin: 0 -1em;
    @include core-19;
    border-bottom: 1px solid $border-colour;
  }

  // Popup actions
  .action.group{
    clear: both;
    border-top: 1px solid $border-colour;
    margin: 1em 0 0 -2em;
    padding: 1em 2em;
  }
}

// Helper styles for popups
html.noscroll {
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: scroll;
    width: 100%;
}
.popover-mask{
  overflow-y: scroll;
  @include ie-lte(8) {
    background-color: #333;
  }
}

.popover-mask {
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: 60
}
#popup {
  display: none;
  overflow: visible;
  clear: both;
  position: absolute;
  top: 2em;
  left: 0;
  width: 60%;
  z-index: 999999;
  padding: 0;
  padding-bottom: 0.5em;
  @include popup(80%);
}
.close {
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;

  // help-popup.scss
  right: 2.25em;
  z-index: 1;

  a {
    background-color: transparent;
    background-image: url(https://assets.digital.cabinet-office.gov.uk/static/close-d05b62d4287151f959ffdcf2387898f7.png);
    background-position:50% 50%;
    background-repeat:no-repeat;
    display:block;
    margin:0;
    height:2em;
    width:2em;
    text-indent:-9999px;
    &:hover {
      background-color:rgba(0,0,0,0.25)
    }
  }
}