%header
  %hgroup
    %h1 About you
    %p First, please give us some information about you.
    %p You'll be able to use these details in any LPAs you make using this tool.

= render :partial => '/shared/person_form'