= form_for @applicant do |applicant_form|
  = render :partial => '/shared/person_form', :locals => {:person_form => applicant_form}
  .action.group
    = applicant_form.submit "Save and continue", class: "button aboutyou"