%header
  %hgroup
    %h1 Create a lasting power of attorney
    %h2 Enter replacement attorney details

= form_for @attorney, :url => lpa_replacement_attorneys_path(@lpa), :html => { :class => 'form' } do |attorney_form|
  = render "shared/validation_summary", :form_object => attorney_form
  = render :partial => '/shared/person_form', :locals => {:person_form => attorney_form}

  .action.group
    = attorney_form.submit "Save details", class: "button"