/*global Poller */

(function(){
  'use strict';

  // get id of LPAs
  var poller,
      $link = $('#content').find('.js-preview-pdf'),
      fallback = function () {
        $link
          .before('<span>Sorry, the preview could not be generated.</span> ')
          .unbind('click')
          .text('Try again')
          .spinner('off');
      };

  // create loading animation
  $link
    .spinner({placement: 'before'})
    .blur()
    .data('title', $link.text())
    .text('Generating PDF')
    .click(function() {
      return false;
    })
    .siblings('span').remove();

  // create new polling object
  poller = new Poller({
    url: '<%=j lpa_get_pdf_path %>',
    onSuccess: function (response) {
      // redirect to PDF
      window.location = response.pdfURL;
    },
    onMaxAttempts: fallback,
    onMaxFails: fallback
  });
  // start polling
  poller.init();
})();
