- lpa_overview(@lpa).each_with_index do |text, index|
  %section#lpa-type.section.complete
    %p.accordion-summary
      %a{:href => back_path(params[:controller], text[0])}
        %span.edit{:style => "float:right"} edit
        #{index+1}. #{text[1]}
