#global-nav.js-toggle-nav
  .inner
    %nav.content
      %ul#navigation
        %li.user= session[:applicant_name] || ''
        %li
          %a{:href => ""} Your details
        %li= link_to "Your LPAs", lpas_path
        %li= link_to "Sign out", delete_applicants_path
