#global-nav.js-toggle-nav
  %nav.content
    %ul#navigation
      %li.user
        D S:
        = session[:applicant_id]
      %li
        %a{:href => ""} Your details
      %li
        = link_to "Your LPAs", lpas_path
      %li
        = link_to "Sign out", delete_applicants_path
