-# if ENV['APP_PLATFORM'] == 'production'
  - content_for :javascript do
    :javascript
      sendFeedbackToGA();

%header.page-header.inner
  %h1 Feedback sent

%article
  .inner.send-feedback
    %p Thank you for your feedback.