// Import the MOJ Boilerplate Base styles
@import "moj-base";

// GOV.UK Styleguide design patterns
@import "design-patterns/accordion-form";
// @import "design-patterns/account-management-tools";
// @import "design-patterns/content";
// @import "design-patterns/date-picker";
@import "design-patterns/details";
@import "design-patterns/forms";
// @import "design-patterns/from-dept";
@import "design-patterns/global-nav";
// @import "design-patterns/grid";
@import "design-patterns/panels";
// @import "design-patterns/popups";
// @import "design-patterns/help-popup";
@import "design-patterns/progress-indicator";
// @import "design-patterns/regular-grid";
// @import "design-patterns/spinner";
// @import "design-patterns/tooltip";
@import "design-patterns/utils";

// View specific styles
// @import "views/homepage";
@import "views/dashboard";
@import "views/create-and-register-pages";
// @import "views/account-management";
// @import "views/person-form";
@import "views/start-and-end-pages";

// Form Finder specific
// @import "global";


/*
 * Core global styles
 */
#wrapper {
  background-color: $white;//$grey-9;
  border-bottom: 10px solid $mainstream-brand;
=======
>>>>>>> 22cafaa... Updated sign in view


// ===========================================================
// ADJUSTMENTS TO DEFAULT STYLES
// ===========================================================

html {
  background: $white;
}

// Update to Gov.uk design refresh
#wrapper {
  background: #fff;
  border-bottom: 10px solid $light-blue;
}

// Make page headers bold
#wrapper header.page-header hgroup h1 {
  font-weight: bold;
}

// Fix info notice overlap of icon
article .info-notice h3 {
  padding-right: 4em;
}

p {
  @include core-19;
}

h2, h3, h4 {
  font-weight: 400;
}

h2 {
  @include core-24;
  margin-top: 0.5em;
  margin-bottom: 0.25em;
}

h3 {
  @include core-19;
  margin-top: 0.5em;
  margin-bottom: 0.25em;
}

h4 {
  @include core-19;
  margin-top: 0.5em;
  margin-bottom: 0.25em;
}

// Update to latest version
// article .help-notice {
//   background: url(/images/icon-important-2x.png);
//   background-size: 34px 34px;
// }
// -----------------------------------
article .application-notice {
  padding: 0.1em 0 0.1em 1em;
}
article .application-notice {
  margin-left: 0;
  margin-right: 0;
  padding: 0.25em 0 0.25em 3.5em;

  @include media(mobile) {
    margin: 1em 0 1.5em 0;
  }
}
article .help-notice {
  background:none;
  background: url(/images/icon-important.png) no-repeat scroll 0 0.5em;

  @include device-pixel-ratio() {
    background-image: url(/images/icon-important-2x.png);
    background-size: 34px 34px;
  }

  p {
    font-weight:600;

    a {
      font-weight:600;
    }
  }
}

/* Fix header style */
#wrapper header.page-header {
  padding: 1.2em 0 0.8em;

  h1 {
    @include heading-48;
  }
}

// ===========================================================
// GLOBAL NAVIGATION
// ===========================================================

@include global-nav($black, $grey-2);


// ===========================================================
// DETAILS TAG
// ===========================================================

@include details;


// ===========================================================
// PROGRESS INDICATOR
// ===========================================================

@include progress-indicator($turquoise);