%header.page-header.inner
  %h1 Create an account

.article-container.group
  %article.group{:role => "article"}
    .inner
      %h2 Please check your email.
      %p We've sent you a link that you need to click to verify your email address and activate your account.

      %p You'll need to use this link within 24 hours, or enter your details again.

      %p If you've already activated your account, you can #{link_to 'sign in now', users_new_session_path}.